/ApplicationIco/ApplicationIco.pro.user
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/ApplicationIco_resource.rc
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/ApplicationIco.exe
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/ApplicationIco_resource_res.o
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/dialog.o
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_dialog.cpp
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_dialog.o
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
/build-ApplicationIco-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/ui_dialog.h
